.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 145px;
    padding: 5px;
    margin: 0 6px 6px;
    background: black;
    text-decoration: none;
    font-size: min(30vw, 35px) ;
    color: white;
}

.active {
    color: white;
}