:root {
    --magenta: rgb(210, 51, 210);
    --cyan: rgb(98, 230, 230);
    --yellow: rgb(237, 237, 32);
    --font-color: rgb(33, 33, 33);
    --font-color-light: rgb(155, 155, 155);
    --background: rgb(255, 255, 255);
    --background-light: rgb(230, 230, 230);
}

.RestaurantList {
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 1200px;
    box-shadow: 20px 20px 25px rgba(33, 33, 33, 0.2);
    border-radius: 25px;
    background-color: black;
    color:white
}
.Header {
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white
}
.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    margin: 0 6px 6px;
    background: black;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 25px) ;
    color: white;
}

.active {
    color:rgb(98, 230, 230); 
}

.Filter {
    display: flex;
    justify-content: space-between;
}
  .Filter select,
  .Filter input {
    text-align: center;
    width: 275px;
    height: 30px;
    margin: 0 6px 6px;
    background: white;
    box-shadow: 5px 5px 10px rgb(98, 230, 230);
    border-radius: 20px;
}

.Restaurant{
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    width: 270px;
    margin: 0 6px 6px;
    background: white;
    box-shadow: 5px 5px 10px rgb(98, 230, 230);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px ;
    color: black;
}
.RestaurantHeader{
        text-align: center;
        font-size: 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: black;
        color: white
}
.FormPage {
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 1200px;
    box-shadow: 20px 20px 25px rgba(33, 33, 33, 0.2);
    border-radius: 25px;
    background-color: black;
    color:white
    
}
.FormHeader{
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white
}

.Form {
    display: flex;
    justify-content: space-between;
}
  .Form select,
  .Form input,
  .Form button {
    text-align: center;
    width: 200px;
    height: 30px;
    margin: 0 6px 6px;
    background: white;
    box-shadow: 5px 5px 10px rgb(98, 230, 230);
    border-radius: 20px;
}
.About{
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 1200px;
    box-shadow: 20px 20px 25px rgba(33, 33, 33, 0.2);
    border-radius: 25px;
    background-color: black;
    color:white
}
.AboutHeader {
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white
}